@import '../base/variables';
@import '../base/extends';
@import '../base/mixins';
@import '../base/condiciones';
@import '../base/maps';


.terapia-seccion{
    padding: $mainpadding ;

.mandala-terapia{
        transition: all 0.7s;
        &:hover{
            transform: scale(1.5) translate(-50%);

        }
    }
}